#container-graph {
  display: flex;
  justify-content: space-evenly;
}

.container-skills {
  border: 1px solid black;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.skill-bar {
  height: 4px;
  background-color: #21e787;
  border-radius: 10px;
  width: 0px;
  box-shadow: 0 0 10px 1px #21e787b3;
}

.row {
  min-width: 300px;
  justify-self: center;
}

.inactive-skill-bar {
  border-radius: 10px;
  width: 80%;
  height: 4px;
  background-color: #0f754c;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#container-weekly-graph {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#weekly-graph {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#bar-chart {
  display: flex;
  min-height: 330px;
  flex-direction: row;
  align-items: flex-end;
  border-left: 1px solid black;
}
.column-label {
  display: none;
  position: relative;
  min-width: 50px;
  left: -10px;
  top: -40px;
}
#container-percents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
  text-align: right;
  margin-right: 10px;
}
