html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;

}

.title {
    font-weight: 900;
}

.description {
    font-weight: 300;
}


.header__one {
    font-weight: 900;
}

.header__two {
    font-weight: 100;
}

.card {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(15px);
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-filter: blur(6px);
    filter: blur(6px)
}

.mouse-down {
    width: 15px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;

}

.bullet {
    width: 3px;
    height: 3px;
    background: rgb(255, 255, 255);
    margin: auto auto;
    border-radius: 8px;
    position: relative;

    -webkit-animation: scrollDownUp 3s infinite;
    /* Chrome, Safari, Opera */
    animation: scrollDownUp 3s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes scrollDownUp {
    0% {
        top: 5px;
    }

    50% {
        top: 20px;
    }

    100% {
        top: 5px;
    }
}

/* Standard syntax */
@keyframes scrollDownUp {
    0% {
        top: 5px;
    }

    50% {
        top: 20px;
    }

    100% {
        top: 5px;
    }
}


.mobile-menu-visible {
    display: block;
}

@media only screen and (max-width:649px) {
    #scroll__animation {
        display: none;
    }
}