html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}


.title {
    font-weight: 900;
}

.description {
    font-weight: 300;
}


.header__one {
    font-weight: 900;
}

.header__two {
    font-weight: 300;
}

.card-button {
    background: #67B26F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4ca2cd, #67B26F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4ca2cd, #67B26F);
    background-size: 200% auto;
    transition: 0.5s;
}

.card-button:hover {
    background-position: right center;

}


.pulse-button {
    animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    box-shadow: 0 0 0 0 #67B26F;
    background: #67B26F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4ca2cd, #67B26F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4ca2cd, #67B26F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 200% auto;

}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    background-position: right center;

}

@media only screen and (min-width: 1300px) {

    .grayscale {
        filter: brightness(80%);
        transition: all .5s ease;
    }

    .card:hover .grayscale {
        filter: brightness(100%);
    }
}


@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(61, 232, 61, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(61, 232, 61, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(61, 232, 61, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(61, 232, 61, 0);
    }
}


body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(189, 189, 189, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.985);
    outline: 1px solid slategrey;
    border-radius: 5px;
}